---

---
<!-- Experience Section -->
    <section id="experience">
        <div class="container">
  
               <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading"> <font size = +2><b>@The Ismaili Council for USA</b></font> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/ismailiusa.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading"> 
                                  <div style="text-align:left">
                                    <h4>May 2021 – Present</h4>
                                    <h4 
class="subheading">Data Analyst Intern</h4>                                   
                                </div> 
                              </div>
                               <div class="timeline-body">
                                 <div style="text-align:left">
                                    <ul class="text-muted">
<li>Producing data visualizations and dashboards using R, SQL, and Excel to analyze the progress on critical social welfare
programs across various U.S. regions</li>
<li>Maintaining confidentiality in data management and handling sensitive information</li>
<li>Presenting the dashboard reports and providing recommendations to key stakeholders</li>
</ul>
                                </div>
                                 </div>
                            </div>
                        </li>
                      

          
          
          
          
          
          
          
          
          
          
               <div class="row">
                <div class="col-lg-12 text-center">
     <!--               <h2 class="section-heading">Experience</h2>  -->
                    <h3 class="section-subheading"> <font size = +2><b>@QTM DataThink: Project for the City of Decatur</b></font> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cd.jpg" alt=""> 
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading"> 
                                  <div style="text-align:left">
                                    <h4>Feb. 2021 – Apr. 2021</h4>
                                    <h4 
class="subheading">Student Consultant: Project SOAR</h4>                                   
                                </div> 
                              </div>
                               <div class="timeline-body">
                                 <div style="text-align:left">
                                    <ul class="text-muted">
<li>Partnered with the Decatur Land Trust to identify at-risk housing properties in Decatur</li>
<li>Predicted which properties are likely to be sold and torn down using R, Excel, and QGIS in a human-centered design
approach using empathy, ideation, prototyping, and testing</li>
<li>Presented analysis to key stakeholders to recommend solutions to preserve or increase affordable housing</li>
</ul>
                                </div>
                                 </div>
                            </div>
                        </li>
                      
  
          
          
          
            <div class="row">
                <div class="col-lg-12 text-center">
    <!--                <h2 class="section-heading">Experience</h2> -->
                    <h3 class="section-subheading"> <font size = +2><b>@Emory University, Dept. of Political Science (under Dr. Holli Semetko)</b></font> </h3>
  <!--              </div> -->
 <!--           </div>  -->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/india-5868006_1920.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading"> 
                                  <div style="text-align:left">
                                    <h4>Dec. 2020 - Present</h4>
                                    <h4 
class="subheading">Research Analyst: Indian Election Controversy</h4>                                   
                                </div> 
                              </div>
                               <div class="timeline-body">
                                 <div style="text-align:left">
                                    <ul class="text-muted">
<li>Analyzing the media coverage about the political wedge issue of the Sabarimala Temple in India’s state of Kerala</li>
<li>Cleaned and organized approx. 24,000 observations from search query in CrowdTangle database</li>
<li>Developed time-series data visualizations using R to showcase the frequency of media sources and the total interactions associated with each post over several months leading up to the Apr. 2019 Kerala elections</li>
</ul>
                                </div>
                                 </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/france-1489367_1920.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug. 2020 – Dec. 2020</h4>
                                    <h4 class="subheading">Research Analyst: U.S. Election Campaign in France</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
<li>Analyzed the differing political biases of French media outlets “Le Monde” and “Le Figaro” with regards to news coverage of the Nov. 2020 U.S. Election; examined the visibility of the U.S. campaign in France via social media metrics</li>
<li>Managed the query list in CrowdTangle database to generate relevant historical reports of the French outlets</li>
<li>Performed coding for qualitative data on French articles for tone and share of voice measures toward U.S. actors</li>
</ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/earth-5545295_1920.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <div style="text-align:left">
                                    <h4>Jan. 2020 – May 2020</h4>
                                    <h4 class="subheading">Research Analyst: U.S. Climate Change Policies in France</h4>
                                  </div>
                                </div>
                                <div class="timeline-body">
                                  <div style="text-align:left">
                                    <ul class="text-muted list">
                                      <li class="list-item">Collaborated with a team to analyze the tone of French articles about climate change toward the U.S. government</li>
                                      <li class="list-item">Performed quantitative content analysis on 56 articles and conducted reliability testing for others’ coding using Excel</li>

                                      <li class="list-item">Guided two undergraduate researchers on the computation of Cohen’s Kappa coefficient of inter-rater reliability</li>
</ul>
                                    </div>
                                </div>
                            </div>
                        </li>
             <!--           <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>I hope
                                    <br>to experience
                                    <br>more!</h4>
                            </div>
                        </li>
  
                      
                      
                      

                      
                      
                      
                    </ul>
                </div>
            </div>
                      
                      
              </div>
              </div>
          </div> 
                      
        </div>
    </section>