---

---
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}'s HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
     <!--     <div style=" margin:0px; background-image: url('img/background-3228704_1920.jpg');background-size: cover; height:850px; padding-top: 0px; padding:0px; float:left;  width=100%; text-align: center;"> -->
            <div class="intro-text">
              	<div class="intro-heading"><font size="+4" color="gold">Welcome world!</font></div>
              	<div class="intro-lead-in"> <div style = "color:gold;">I'm <b>Inaara Ali</b>, a senior at <b>Emory University</b> majoring in <b>Data Science (QSS)</b>, concentrating in Anthropology and double majoring in International Studies. A lifelong creative writer and enthusiast of comparative cultures and politics, I love to tell stories. In particular, I enjoy uncovering and communicating the <b>hidden stories</b> found within data after extracting insight.</div></div>
              
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->