---

---
<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT</h2>
                    <h3 class="section-subheading text-muted">More about me</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                  <div style="text-align:left">
                    <ul class="text-muted">
                      <li><b>Emory University</b>, May 2022</li>
                      <li><b>Bachelor of Science, Data Science (QSS)</b>, Anthropology concentration; Double Major: International Studies</li>
                      <li><b>Relevant Courses:</b> Statistical Computing, Probability and Statistics, Math for Quantitative Sciences, Technical Writing</li>
</ul>
                  </div>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership & Community Involvement</h4>
                  <div style="text-align:left">
                    <ul class="text-muted">
                      <li><b>Volunteer Farmer </b><br>@ Love is Love Farm at Gaia Gardens<br> (Aug. 2019 – Dec. 2019)<br>
  <ul>
    <li>Assisted in setting up the organic farmer’s market, used equipment to trim plants, and picked fresh produce</li>
  </ul>
</li>
                      <li> <b>Executive Board Member, Volunteer </b><br>@ Emory Ambassadors for Global Awareness <br>(Aug. 2018 – May 2019)   
  <ul>
    <li>Tutored refugee children in Clarkston, motivated them academically, and fundraised money at Panera Bread</li>
  </ul>
</li>                  
                      </ul> 
                  </div>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Skills</h4>
                  <div style="text-align:left">
                    <ul class="text-muted"><li><b>Technical skills:</b> R, Shiny, ggmap, Python, SQL, Tableau, Excel, QGIS, HTML, Git</li><li><b>French & creative writing skills:</b> http://salutamies.weebly.com/ </li></ul>
                  </div>
                </div>
            </div>
        </div>
    </section>